.facts {
    font-style: italic;
}

.marg_padd {
    padding: 5px;
}

.items {
    font-weight: bold;
}

.body_style {
    padding: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border: 10px solid black;
    width: 330px;
}

li {
    list-style-type: none;
}

ul {
    padding: 2px;
    margin: 2px;
}

p {
    font-size: 1em;
}

.box_1{
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 15px;

    border: 1px solid darkgrey;
    overflow: hidden;
    -webkit-box-shadow: 13px 20px 60px 1px rgba(122,122,122,0.99);
    -moz-box-shadow: 13px 20px 60px 1px rgba(122,122,122,0.99);
    box-shadow: 13px 20px 60px 1px rgba(122,122,122,0.99);
}

.box_2{
    font-size: 14px;
    padding-right: 14px;
    border: 1px solid darkgrey;
    overflow: hidden;
    width: 285px;
}


.fig {
    width: 300px;
}